* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Press Start 2P';
	font-size: medium;
}

body {
	background-color: rgb(32, 30, 30);
}
nav {
	z-index: 2;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(0, 0, 0, 0.727);
	font-size: 16px;
}
a {
	font-size: 13px;
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.svg-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(15%);
	margin: 0 auto;
	width: 240px;
}
.shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -398;
	stroke-width: 8px;
	fill: transparent;
	stroke: whitesmoke;
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
	cursor: pointer;
}
.text {
	text-align: center;
	line-height: 32px;
	color: whitesmoke;
	top: -48px;
	position: relative;
	cursor: pointer;
}

.svg-wrapper:hover .shape {
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
	stroke: #6cc0bb;
	cursor: pointer;
}
.navLinks {
	display: flex;
	gap: 40px;
}
canvas {
	position: fixed;
	z-index: -1;
}
main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	margin: 5%;
	color: whitesmoke;
}

.content {
	background-color: rgba(0, 0, 0, 0.419);
	font-size: larger;
	border-radius: 10px;
	text-align: center;
	margin: auto;
	padding: 20px;
	height: 50px;
	grid-column: 1/5;
}

footer {
	background-color: rgba(0, 0, 0, 0.727);
	height: 100px;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
}
.svgIcon {
	fill: white;
}
.svgIcon:hover {
	fill: #6cc0bb;
}
.descriptionText {
	padding: 2%;
	line-height: 30px;
}
.description {
	margin-top: 10vh;
	grid-column: 3/5;
}

@media (max-width: 391px) {
	* {
		font-size: 12px;
	}
	.navLinks {
		display: none;
	}
	main {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 40px;
		align-items: center;
	}
	footer {
		height: 70px;
	}
}
